.autosuggest ul {
    list-style-type: none;
}
.autosuggest ul li {
    cursor: pointer;
    color: rgba(0,0,0,.7);
}
.autosuggest {
    width: 300px;
    height: 150px;
    overflow: scroll;
    display: none;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
}